
.signup-form-wrapper-unique {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--main-lighter-clr, #f9f9f9);
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin: 2% auto;
}

.main-sign-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
}

.signup-image-section-unique {
  width: 50%;
  height: 100%;
  margin-right: 2%;
}

.signup-image-section-unique img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 22px;
}

.signup-form-content-unique {
  padding: 20px;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-left: 1px solid #f0f0f0;
  border-radius: 10px;
}

.signup-form-content-unique h2 {
  color: var(--Pirmary, #0078d4);
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}

.signup-form-content-unique form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form-content-unique input[type="text"],
.signup-form-content-unique input[type="number"],
.signup-form-content-unique input[type="email"],
.signup-form-content-unique input[type="password"] {
  border-radius: 7px;
  border: 1px solid #daeaf9;
  display: flex;
  height: 40px;
  padding: 0px 10px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.signup-form-content-unique input[type="text"]:focus,
.signup-form-content-unique input[type="email"]:focus,
.signup-form-content-unique input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signup-form-content-unique button {
  width: 100%;
  padding: 14px;
  background-color: #0078d4;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.signup-form-content-unique button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.signup-form-content-unique p {
  font-size: 14px;
  color: #7a8490;
}

.signup-form-content-unique p a {
  color: #0078d4;
  text-decoration: none;
}

.signup-form-content-unique p a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.signup-link-unique {
  color: #0078d4;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.signup-link-unique:hover {
  text-decoration: underline;
  color: #0056b3;
}

.role-select {
  border-radius: 7px;
  border: 1px solid #daeaf9;
  display: flex;
  height: 40px;
  padding: 0px 10px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}
#login-form {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0000004f;
}
/* Additional media queries for responsiveness */
@media (max-width: 768px) {
  .signup-form-wrapper-unique {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 5% 0;
  }

  .signup-image-section-unique {
    width: 100%;
    height: 200px;
  }

  .signup-form-content-unique {
    width: 100%;
    border-left: none;
    border-top: 1px solid #f0f0f0;
    border-radius: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  /* .login-image-section-unique {
    display: none;
  } */
  .login-form-content-unique {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: 1px solid #f0f0f0;
    margin-left: 0px;
    border-radius: 20px;
  }
}
