.request-submit-container {
    background-color: #f4f9fd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .request-submit-header {
    font-size: 24px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
  }

  .schdule-btn-confirm{
    background-color: var(--main-light-clr);
    color: #fff;
    padding: 10px;
    border-radius: 5px;

    &:hover{
      opacity: .9;
    }
  }
  
  .request-submit-body {
    font-size: 16px;
    color: #333;
  }
  
  .status-message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .status-icon {
    font-size: 20px;
    color: #4CAF50;
    margin-right: 8px;
  }
  
  .status-text {
    font-size: 16px;
    color: #333;
  }
  
  .note-text {
    font-size: 14px;
    color: #333;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .view-more {
    background-color: var(--main-light-clr);
    color: white;
  }
  
  .dashboard {
    background-color: #28a745;
    color: white;
  }
  
  .view-more:hover {
    opacity: .9;
  }
  
  /* .dashboard:hover {
    background-color: #218838;
  } */
  
  @media (min-width: 500px) and (max-width: 730px) {
    
    .request-submit-container { width: 70vw;}
  }
  @media (min-width: 0px) and (max-width: 500px) {
     
    .request-submit-container { width: 90vw;}
     .btn{
      padding: 6px 12px;
     }
  }