.view-owner-details-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    border-radius: 7px;
    border: 1px solid rgba(46, 151, 231, 0.30);
    background: #FFF;
    box-shadow: 22px 20px 20px 0px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .view-owner-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .view-owner-details-title {
    color: #1D3557;
    
   

    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px; /* 0% */
  }
  
  .close-btn {
    font-size: 16px;
    /* font-weight: bold; */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--main-light-clr);
    transition: color 0.3s;
    top: 1px;
    right: 1px;
  }
  
  .close-btn:hover {
    color: #e60000;
  }
  
  .view-owner-details-content {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
  }
  
  .view-owner-details-content p {
    margin: 30px 30px 0px 30px;
    color: #333;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 141.667% */
  }

  .view-owner-details-content b {
    color: var(--main-light-clr);
  }
  
  .view-owner-details-content strong {
    color: #333;
    font-weight: 600;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  