.userDataSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 0;
}

/* need help css start */
.need-help-box {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 0px 16px 0px #cfdae2;
}

/* Amit css  */
.profile-name {
  border-radius: 7px;
  border: 1px solid #daeaf9;
  background: #fff;
  padding: 10px;
  width: 80%;
}
.profileNameEmail {
  display: flex;
  flex-direction: row; /* Align children in a row */
  width: auto; /* Adjust width as needed */
  padding: 10px;
  justify-content: space-between; /* Space out the children */
}

.profileNameEmail > div {
  flex: 1; /* Each child takes equal space */
  margin: 0 0px; /* Optional: Add some margin between children */
}

.editProfileButton button {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 3px;
  background: var(--Pirmary, #1877f2);
  border: none;
  padding: 10px 20px;
}

.editProfileButton button:hover {
  opacity: 0.9;
}
.profile-section-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-email {
  border-radius: 7px;
  border: 1px solid #daeaf9;
  background: #fff;
  padding: 10px;
  width: 80%;
}
.editProfileButton {
  display: flex;
  justify-content: space-between;
}

.medata-role {
  border-radius: 2px;
  /* border: 0.5px solid #ddd; */
  background: #f3f3f3;
  box-shadow: 0px 0px 12px 0px #f1f9ff;
  display: flex;
  gap: 5px;
  padding: 10px;
}

.medata-role span {
  background-color: var(--main-light-clr);
  color: #fff;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.profile-section-data label {
  color: #3f3f3f;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
}

.need-help-box h4 {
  color: #353c48;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.need-help-box-paragraph {
  color: #7b7f85;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.need-help-box-contact {
  color: #353c48;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}
.need-help-box img {
  width: 35px;
}
/* .dashboard-right-side img{
  height: 60%
  
} */

.need-help-box-or {
  color: #353c48;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}

.need-help-box-contact-main {
  width: 80%;
}

/* need help css end */

.button-section-dashborad {
  display: flex;
  justify-content: space-between;
}

.header-dashborad-section {
  display: flex;

  gap: 5px;
  padding: 15px 10px;
  border-radius: 2px;
  border: 0.5px solid #ddd;
  background: #f6f6f68f;
  box-shadow: 0px 0px 12px 0px #f1f9ff;
}

.Last_Updated-dashborad {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.top-section-in-profile {
  /* display: flex;
  justify-content: space-between; */
  padding: 20px 20px 20px 20px;
  /* background: linear-gradient(90deg, #a1d2f8 0%, #e8f5ff 100%); */
  background-color: var(--main-light-clr);
  margin: 0px 0 15px 0;
  border-radius: 12px;
}
.top-section-in-profile-left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-section-in-profile-left-section h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.top-section-in-profile-left-section p {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-main-box {
  box-shadow: 0px 0px 16px 0px #cfdae2;
  padding: 18px;
  border-radius: 10px;

  height: fit-content;
}
/* .dashborad-section-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
} */

.edit-btn-dashborad span {
  border-radius: 3px;
  background: var(--Pirmary, #1877f2);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.edit-btn-dashborad span:hover {
  opacity: 0.9;
}

.edit-btn-dashborad {
  display: flex;
  align-items: center;
  justify-content: end;
}

.dashborad-section-left-right {
  display: flex;
  flex-direction: column;

  width: 70%;
}

.main-profile-dashboard-section {
  display: flex;
  gap: 10px;
  /* padding: 20px; */
}

.register-as-role {
  display: flex;
  align-items: center;
  color: #3f3f3f;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
}

.profile-name-ans {
  border-radius: 7px;
  border: 1px solid #daeaf9;
  background: #fff;
  padding: 10px;
  width: 100%;
}

.dash-que {
  color: #333;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
}

.userDataSection p {
  margin-top: 5px;
  color: #333;
}

.ans {
  display: inline-block;
}

.profile-text-dashborad {
  border-radius: 2px;
  border: 0.5px solid #ddd;
  background: #f6f6f68f;
  padding: 10px;
  margin: 10px 0;
}

.profile-text-dashborad p {
  color: #333;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.profile-regis-ans {
  width: fit-content;
  display: inline-block;
  border-radius: 4px;
  background: var(--main-light-clr);
  color: #fff;
  font-family: "Inter", Sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  padding: 5px 10px;
}

.whatapp-notify {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatapp-notify p {
  color: #3f3f3f;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mobile-no-section-dashboard {
  display: flex;
  flex-direction: column;
}
.click-here-dashborad {
  font-size: 12px;
  text-decoration: underline;
  color: #333;
  padding: 5px;
}

.icons {
  width: 20px;
  margin-right: 10px;
}

.icon-wp {
  width: 28px;
}

.Shortlisted-prop {
  font-size: 16px;
  padding: 10px 0px;
  color: #333;
  text-align: center;
  text-decoration: underline;
}
.profile-ssection-email-phone{
  display: flex;
}

@media (max-width: 768px) {
  .dashborad-section-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    
  }

  .dashboard-right-side {
    margin: 20px 0px;
  }

  .dashboard-right-side img {
    width: 100%;
  }

  .main-profile-dashboard-section {
    display: unset;
  }

  .dashborad-section-left-right {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    width: 100%;
  }
}
@media (max-width: 480px) {
  .sidebar-profile {
    /* padding: 20px; */
    overflow-x: auto;
    color: #ffffff;
    height: 70px;
    border: 1px solid #dedeff;
    position: static;
    top: 0px;
  }
  .sidebar-profile::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

  .editProfileButton button {
    color: #fff;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 3px;
    background: var(--Pirmary, #1877f2);
    border: none;
    padding: 5px 10px;
  }

  .profile-email {
    width: 100%;
  }
  .profile-name {
    width: 100%;
  }

  .main-profile-dashboard-section {
    flex-direction: column;
  }

  .userDataSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0;
  }

  .click-here-dashborad {
    font-size: 8px;
    text-decoration: underline;
    color: #333;
    padding: 5px;
  }

  .button-section-dashborad {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  .top-section-in-profile-left-section p {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .dashboard-right-side img {
    width: 100%;
  }

  .profile-name-ans {
    border-radius: 7px;
    border: 1px solid #daeaf9;
    background: #fff;
    padding: 10px;
    width: 100%;
  }
  .edit-btn-dashborad span {
    border-radius: 3px;
    background: var(--Pirmary, #1877f2);
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .userDataSection p {
    /* margin-top: 12px; */
    font-size: 12px;
  }

  .profile-regis-ans {
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    background: var(--main-light-clr);
    color: #fff;
    font-family: "Inter", Sans-serif;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    padding: 5px 10px;
  }

  .whatapp-notify p {
    font-size: 14px;
  }
  .whatapp-notify img {
    width: 20px;
  }

  .profileNameEmail {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
  }
}

@media (max-width: 320px) {
  .dashboard-right-side img {
    width: 100%;
  }

  .userDataSection p {
    margin-top: 12px;
    font-size: 10px;
  }
}
