/* Base styles for the sidebar */
.sidebar-profile {
  padding: 20px;
  color: #ffffff;
  /* height: fit-content; */
  border: 1px solid #dedeff;
}

/* Optional logo styling */
.logoTitle {
  text-align: center;
  color: #ffffff;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  color: #000;
  margin: 5px;
  font-size: 16px;
  border-bottom: 1px solid #dedeff;
}

.icons {
  width: 28px;
}

/* For mobile view */
@media (max-width: 480px) {
  .faq-item {
    width: 90%;
    margin: 10px 0;
    border: 2px solid var(--main-light-clr);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .sidebar {
    padding: 20px;
    color: #ffffff;
    height: fit-content;
    border: 1px solid #dedeff;
  }

  .navList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .mob-hide {
    display: none;
  }

  .sidebar-profile img {
    display: none;
  }

  .navItem {
    box-shadow: 0px 0px 4px 0px #b1cbdf;
    background-color: white;

    padding: 10px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #8c8c8c;
    /* margin-right: 20px; */
    font-size: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .navItem {
    box-shadow: 0px 0px 4px 0px #b1cbdf;
    background-color: white;

    padding: 10px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #8c8c8c;
    /* margin-right: 20px; */
    font-size: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  /* .profile-container{
    display: block;
  } */
}
@media(max-width: 320px) {
  .navItem {
    box-shadow: 0px 0px 4px 0px #b1cbdf;
    background-color: white;
    padding: 10px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #8c8c8c;
    /* margin-right: 20px; */
    font-size: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  .userDataSection p {
    margin-top: 10px;
    font-size: 10px;
  }
}
