.no-list-there-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
    margin: 10px auto;
  }
  
  .no-list-there-content {
    text-align: center;
  }
  
  .no-list-there-image {
    max-width: 200px;
    margin-bottom:20px;
    margin: 0 auto;
  }
  
  .no-list-there-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .no-list-there-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .no-list-there-button {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .no-list-there-button:hover {
    background-color: #357abf;
  }
  