.AnimatedNav-container {
    position: relative;
    display: flex;
    gap: 0.5rem;
    padding: 0.75rem;
    /* background-color: rgb(229, 231, 235); */
    border-radius: 0.5rem;
    width: max-content;
    margin: 0 auto;
  }
  
  .AnimatedNav-slider {
    position: absolute;
    background-color: var(--main-light-clr);

    border-radius: 0.375rem;
    z-index: 0;
    pointer-events: none; /* Ensures clicks pass through to buttons */
  }
  
  .AnimatedNav-button {
    position: relative;
    
    border: 1px solid var(--main-light-clr);
    border-radius: 0.375rem;
   
    background-color: #dff1ff;
    z-index: 1;
    background: none;
    transition: color 0.2s;
    font-weight: 400;
    color: #333;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  
  .AnimatedNav-button:hover:not(.AnimatedNav-button--active) {
    background-color: rgba(177, 202, 253, 0.553);
  }
  
  .AnimatedNav-button--active {
    color: rgb(255, 255, 255);
  }