.form-container {
  display: flex;
  gap: 30px;
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 8px;
  /* box-shadow: 0 0px 16px rgb(216,222,227,1); */
  position: relative; /* Ensure the cross button is positioned relative to the form container */
}

.postreq-form{
  margin-bottom: 3px;
}

.cross-Btn {
  position: absolute;
  top: 9px;  /* Adjust this value to move it down */
  right: 8px;  /* Adjust this value to move it left or right */
  font-size: 16px;
  cursor: pointer;
  background-color:#c7e4fc;  
  color: var(--main-light-clr);
  cursor: pointer;

  padding: 5px 12px;
  border-radius: 50%;


  &:hover{
    color: red;
  }


}

.one-img-cross-btn {
  color: var(--main-light-clr);
  cursor: pointer;
  background-color: var(--main-lighter-clr);
  padding: 5px 10px;
  border-radius: 100%;
  font-size: 14px;
  position: absolute;
  right: 30px;
  top:3vh;
}
.one-img-rotate-btn{
  color: var(--main-light-clr);
  padding: 5px;
  font-size: 14px;
  height: 30px;
  width: 35px;
}
/* 
.form-left {
  flex: 1;
  width: 400px;
} */

.form-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.form-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5;
}

.form-features {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
}

.form-right {
  width: auto;
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.form-right-heading-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e2e2e2;
  gap: 10px;
  /* border: 1px solid black; */
  padding: 10px 10px 10px 10px;
  border-radius: 8px 8px 0px 0px ;
  background-color: rgb(233 245 255);

}
.form-right-heading-container  p{
  color: rgba(61, 90, 128,1); 
  font-size: 14px;
  font-weight: 400px;
}
.form-header {
  font-size: 18px;
  color:rgba(34, 34, 34, 1);
  font-weight: 600;
  
}

.property-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.post-property-form{
  padding: 20px;
}

.property-form-type{
  background: linear-gradient(to right, #999 10px, transparent 6px);
    background-size: 16px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
  padding: 0px 10px 20px 10px;

  select{
    width: 100%;
  }

}
.property-form-details-top{
  background: linear-gradient(to right, #999 10px, transparent 6px);
    background-size: 16px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
  display: flex;
  gap: 10px;
  padding:0px 10px 20px 10px;
}
.property-form-details-bottom{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  gap: 10px;
}
.img-requirement img{
  width: 220px;
}

.form-group {
  display: flex;
  flex-direction: column;

  /* align-items: center;
    justify-content: center; */
 
   
}
.form-group p{
  /* color: #333; */
  font-size: 12px;
}
.form-right input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.form-input:focus {
  outline: none;
  border-color: #1877f2;
}

.form-submit-btn {
  /* padding: 10px; */
  font-size: 14px;
  color: #ffffff;
  background-color: #1877f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  width: 100px;
}

.form-submit-btn:hover {
  background-color: #005bb5;
}

/* Hidden Field */
.hidden-group {
  display: none;
}

.form-input-hidden {
  display: none;
}


.form-group input {
  color: #808080;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.065%;
  width: 220px;
  /* width: 100%; */
  font-size: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}
.post-prop-form-group{
  /* min-width: 220px; */
  width: 100%;
}

.form-budget{
 flex-direction: row;
 /* margin-left: 13px; */
 
}
.form-budget-option{
  display: flex;
  align-items: end;
}
.form-budget select{
  padding: 5px;
  color: #444;
  width: 50px;
  height: 36px;
  padding: 0px;
  border-radius:0px 8px 8px 0px ;
  border: 1px solid #ccc !important;
}
.budget-container input{
  width: 170px;
  border-radius: 8px 0px 0px 8px;
}
.form-bhk select{
  color: #727b85;
}
.form-floor select{
  color: #727b85;
}

.possession-status {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  /* width: 320px; */
}
.possession-status-title{
  font-size: 12px;
  color: #333;


}

.radio-group {
  display: flex;
  margin-top: 12px;
  gap: 20px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 12px;
  color: #808080;
}

input[type="radio"] {
  accent-color:#1877f2;
  cursor: pointer;
  width: 15px;
  height: 15px;
}





@media (max-width: 768px) {
  .property-form-details-top{
    flex-direction: column;
  }
  .property-form-details-bottom{
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
  .form-group{
    width: 100%;
  }
  .form-group input{
    width: 100%;
  }
  .form-container {
    flex-direction: column;
    padding: 20px;
    width: 90%;
    gap: 0;
  }

  .form-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-right {
    width: 100%;
  }

  .form-title {
    font-size: 18px;
  }

  .form-description {
    font-size: 12px;
  }

  .form-features {
    font-size: 12px;
  }

  .form-header {
    font-size: 16px;
  }

  .property-form {
    gap: 12px;
  }

  .form-group input,
  .form-group select {
    font-size: 14px;
  }
  .form-submit-btn {
    /* padding: 12px; */
    font-size: 16px;
  }

  .img-requirement img {
    width: 150px;
  }
  .cross-Btn{
    top: 26px;
    right: 26px;
  }
  .form-budget select{
    height: 38px;

  }
}


@media (max-width: 480px) {

  .possession-status{
    padding: 10px;
  }

  .form-group select, .form-group input {
    font-size: 14px;
    width: 100%;
 
    border: 1px solid #c7c7c7;
    border-radius: 7px;
    padding: 10px;
    color: #333;
    font-size: 12px;
    margin: 0;
}
  .form-title {
    font-size: 16px;
  }

  .form-description {
    font-size: 11px;
  }

  .form-features {
    font-size: 11px;
  }

  .form-header {
    font-size: 14px;
  }

  .property-form {
    gap: 10px;
  }
  .post-property-form{
    padding: 8px 0px 8px 0px;
  }

  .form-group input,
  .form-group select {
    font-size: 13px;
  }

  .form-submit-btn {
    width: 100%;
    /* padding: 10px; */
    font-size: 14px;
  }

  .img-requirement img {
    width: 120px;
  }

  .cross-Btn{
    padding: 1px 8px;
  }
  .form-right-heading-container  p{
    font-size: 12px;
  }
  .form-budget select{
    height: 38px;
    border-radius:0px 8px 8px 0px ;
      color: rgba(170, 181, 193, 1);

  }
  .budget-container input{
    width: 140px;
    border-radius: 8px 0px 0px 8px;
  }
  .form-bhk select{
    color: rgba(170, 181, 193, 1);
  }
  .form-floor select{
    color: rgba(170, 181, 193, 1);
  }
}