.form-container {
  display: flex;
  gap: 30px;
  background-color: #f9f9f9;
  padding: 0px;
  /* box-shadow: 0 0px 16px rgb(216,222,227,1); */
  position: relative; /* Ensure the cross button is positioned relative to the form container */
}
.postreq-form{
  margin-bottom: 3px;
}
.cross-Btn {
  position: absolute;
  top: 9px;  /* Adjust this value to move it down */
  right: 8px;  /* Adjust this value to move it left or right */
  font-size: 16px;
  cursor: pointer;
  background-color:#c7e4fc;  
  color: var(--main-light-clr);
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 50%;
  &:hover{
    color: red;
  }

}
.share-rqrmnt-cross-Btn{
  position: absolute;
  top: 16px;  /* Adjust this value to move it down */
  right: 16px;  /* Adjust this value to move it left or right */
  cursor: pointer;
  z-index: 1;

img{
  height: 100%;
  width: 100%;
}

}

.one-img-cross-btn {
  color: var(--main-light-clr);
  cursor: pointer;
  background-color: var(--main-lighter-clr);
  padding: 5px 10px;
  border-radius: 100%;
  font-size: 14px;
  position: absolute;
  right: 30px;
  top:3vh;
}
.one-img-rotate-btn{
  color: var(--main-light-clr);
  padding: 5px;
  font-size: 14px;
  height: 30px;
  width: 35px;
}
/* 
.form-left {
  flex: 1;
  width: 400px;
} */

.form-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.form-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5;
}

.form-features {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
}

.form-right {
  width: auto;
  background-color: #ffffff;
  /* padding: 20px; */
  /* border-radius: 8px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.form-right-heading-container{
  position: relative;
  display: flex;
  z-index: 1;

  flex-direction: column;
  /* background-image: url("https://propertydekho247bucket.s3.ap-south-1.amazonaws.com/Static-Img/images/share-rqrmnt-back.JPG"); */
  border-bottom: 1px solid #e2e2e2;
  /* background-size: cover;         
  background-position: center;   
  background-repeat: no-repeat;    */
 width: 100%;
  gap: 10px;
  /* border: 1px solid black; */

  /* border-radius: 8px 8px 0px 0px ; */

  img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


}
.form-heading-image-color{
  h3{
    color: white;

  }

}
.form-heading-image-color{
  height: 100%;
  width: 100%;
  padding: 18px 30px 18px 30px;
  background-color: rgba(24, 118, 242, 0.772);
}
.form-right-heading-container  p{
  color: rgba(61, 90, 128,1); 
  font-size: 14px;
  font-weight: 400px;
}
.form-header {
  font-size: 18px;
  color:rgba(34, 34, 34, 1);
  font-weight: 600;

  
}

.property-form {
  display: flex;

  gap: 12px;
}
.post-property-form{
  padding:20px ;
}

.property-form-type{
  /* background: linear-gradient(to right, #999 10px, transparent 6px);
    background-size: 16px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
  padding: 0px 10px 20px 10px; */

width: 50%;
min-width:269px ;


  select{
    width: 100%;
  }

}
.property-form-details-top{
  background: linear-gradient(to right, #999 10px, transparent 6px);
    background-size: 16px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
  display: flex;
  gap: 10px;
  padding:0px 10px 20px 10px;
}
.property-form-details-bottom{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}
.img-requirement img{
  width: 220px;
}

.form-group {
  display: flex;
  flex-direction: column;

  /* align-items: center;
    justify-content: center; */
 
   
}
.form-group p{
  /* color: #333; */
  font-size: 12px;
}
.form-right input {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  background-color: rgba(248, 250, 252, 1);
  border: 1px solid #daeaf9;
  border-radius: 4px;
}



.form-input:focus {
  outline: none;
  border-color: #1877f2;
}

.form-submit-btn {
  /* padding: 10px; */
  font-size: 14px;
  color: #ffffff;
  background-color: #1877f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.form-submit-btn:hover {
  background-color: #005bb5;
}

/* Hidden Field */
.hidden-group {
  display: none;
}

.form-input-hidden {
  display: none;
}


.form-group input {
  color: #808080;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.065%;
  /* width: 250px; */
  /* width: 100%; */
  font-size: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}
.post-prop-form-group{
  /* min-width: 240px; */
  /* width: 100%; */
}

.form-budget{
 flex-direction: row;

 width: 100%;
 /* margin-left: 13px; */
 
}
.form-budget-option{
  display: flex;
  align-items: end;
}
/* .form-budget select{
  padding: 5px;
  color: #444;
  width: 50px;
  height: 36px;
  padding: 0px;
  border-radius:0px 8px 8px 0px ;
  border: 1px solid #ccc !important;
} */
 .plot-size-container{
  p{
    color: rgba(53, 68, 90, 1);
    font-size: 14px;
    font-weight: 500;
  }
  input{
    background-color:rgba(248, 250, 252, 1);
  }
 }
.budget-container input{
  width: 170px;
  border-radius: 8px 0px 0px 8px;
}
.form-bhk select{
  color: #727b85;
}
.form-floor select{
  color: #727b85;
}

.possession-status {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  width: 50%;
 
  /* width: 320px; */
  p{
    color: rgba(53, 68, 90, 1);
    font-size: 14px;
    font-weight: 500;
  }
  label{
    background-color:rgba(248, 250, 252, 1);
  }

}
.possession-status-title{
  font-size: 12px;
  color: #333;


}

.radio-group {
  display: flex;
  margin-top: 12px;
  gap: 20px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 12px;
  color: #808080;
}

input[type="radio"] {
  accent-color:#1877f2;
  cursor: pointer;
  width: 15px;
  height: 15px;
}







.share-rqrmnt-form-top{
  display: flex;
  width: 100%;
  gap: 32px;
}
.share-rqrmnt-form-mid{
  display: flex;
  gap: 32px;
}
.share-rqrmnt-form-last{
  display: flex;
  gap: 32px;

}


.share-rqrmnt-property-type{


  p{
    color: rgba(53, 68, 90, 1);
    font-size: 14px;
    font-weight: 500;
  }
  select{
    background-color:rgba(248, 250, 252, 1);
  }
}
.share-rqrmnt-form-locality{


  min-width: 269px;
  width: 50%;


  p{
    font-size: 14px;
    font-weight: 500;
    color:  rgba(53, 68, 90, 1);
  }
}



.form-bhk{
  width: 50%;


  p{
    font-size: 14px;
    font-weight: 500;
    color:rgba(53, 68, 90, 1) ;
  }
  select{
    background-color:rgba(248, 250, 252, 1);
  }
}
.form-floor{

  width: 50%;
  p{
    font-size: 14px;
    font-weight: 500;
    color:rgba(53, 68, 90, 1) ;
  }
  select{
    background-color:rgba(248, 250, 252, 1);
  }
}







.budget-input-container {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 50%; 
  font-family: inherit;
  p{
    font-size: 14px;
    font-weight: 500;
    color:rgba(53, 68, 90, 1) ;
  }
  select{
    background-color:rgba(248, 250, 252, 1);
  }
  input{
    border-radius:5px 0px 0px 5px ;
    background-color:rgba(248, 250, 252, 1);
    color:rgba(53, 68, 90, 1)
  }
}

.budget-input-field {
  flex: 1;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #2d3e50;
}

.budget-input-dropdown {
  border: none;
  border-radius: 0px 5px 5px 0px ;
  outline: none;
  padding: 0 10px;
  background-color: transparent;
  font-size: 14px;
  color: #2d3e50;
  cursor: pointer;
  border: 1px solid #d9dfe7;
  /* height: 100%; */
}






.plotsize-input-container {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  height: 41px;
  /* width: 250px; */
  background-color: #f9fbfd;
  font-family: inherit;

  input{
    border-radius: 5px 0px 0px 5px;
  }
  select{
    border: 1px solid #d9dfe7;
    border-radius: 0px 5px 5px 0px;
  }
}
.plotsize-input-field {
  flex: 1;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #2d3e50;
}

.plotsize-input-dropdown {
  border: none;
  outline: none;
  padding: 0 8px;
  background-color: transparent;
  font-size: 14px;
  color: #2d3e50;
  cursor: pointer;
  border-left: 1px solid #d9dfe7;
  height: 98%;
}







@media (max-width: 768px) {


}


@media (max-width: 480px) {

  .form-heading-image-color{
    h3{
      font-size: 14px;
    }
  
  }
  .property-form-type{
    width: 100%;
  }
  .share-rqrmnt-form-locality{
    width: 100%;
  }
  .share-rqrmnt-form-top{
    gap: 5px;
  }
  .share-rqrmnt-form-mid{
    gap: 5px;
  }
  .share-rqrmnt-form-last{
    gap: 5px;
  }

  .form-bhk{
    width: 100%;
  }
  .form-floor{
    width: 100%;
  }
  .possession-status{
    width: 100%;
  }
  .form-heading-image-color{
    padding: 10px 8px 10px 8px;
  }
  .share-rqrmnt-cross-Btn{
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
  }








  .share-rqrmnt-form-top{
    flex-direction: column;
  }

  .share-rqrmnt-form-mid{
    flex-direction: column;
  }
  .share-rqrmnt-form-last{
    flex-direction: column;
  
  }
  








  
}