.tenant-vs-landlord-main-container{
    width: 70%;
    margin: 20px auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.tenant-vs-landlord-headings{
    display: flex;
    flex-direction: column;
    gap: 12px;



   h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;

    color: rgba(34, 34, 34, 1);

    span{
        color: var(--main-light-clr);

    }
   }

   p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(98, 107, 119, 1);
   }
}


.tenant-vs-landlord-button-container{
    padding:10px ;
    border-radius: 10px;
    background-color: var(--main-lighter-clr);
}

.tenant-vs-landlord-button{
    padding: 5px 14px 5px 14px;
    color: #333;
    border: none;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid var(--main-light-clr);
    font-size: 14px;
    margin: 5px;
    border-radius: 5px;



}
.tenant-vs-landlord-active{
    transition-duration: .3s;
    color: var(--main-light-clr);
    background-color:var(--main-light-clr);
    border-radius: 5px;
    color: #fff;
}



@media(max-width:480px){
    .tenant-vs-landlord-main-container{
        width: 90%;
        gap: 20px;

    }


    .tenant-vs-landlord-headings{  
       h2{
        text-align: center;
        font-size: 26px;
        font-weight: 600;
       }
    
       p{
        font-size: 14px;

       }
    }
    .tenant-vs-landlord-button{
        padding: 5px 10px 5px 10px;
        font-size: 16px;
    }
    
    
}