/* Who We Are Section */
.who-we-are {
  background-color: var(--main-light-clr);
  padding: 60px 20px;
  position: relative;
  text-align: center;
}

.who-we-are-box {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.who-we-are h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-white-light-clr);
  margin-bottom: 20px;
  text-align: center;
}

.highlight {
  color: var(--main-light-clr);
}

.whoweare-heading {
  text-align: center;
}

.whoweare-h2 {
  color: #333;
  text-align: center;
  margin-bottom: 18px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.whoweare-p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 42px;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.description {
  font-size: 18px;
  color: var(--main-white-light-clr);
  line-height: 1.8;
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
}

/* Styling for the quote marks */
.quote-left,
.quote-right {
  font-weight: 700;
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
}

.quote-left {
  top: -15px;
  left: -40px;
  color: var(--main-white-light-clr);
}

.quote-right {
  bottom: -30px;
  right: -40px;
  color: var(--main-white-light-clr);
}

.description span {
  color: var(--main-white-light-clr);
  text-decoration: underline;
}

.whoweare-h2 {
  position: relative; /* Required for pseudo-elements positioning */
  display: inline-block; /* To make the underline specific to the text */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.whoweare-h2::before,
.uwhoweare-h2::after {
  content: ""; /* Pseudo-element content for the underline */
  position: absolute;
  bottom: -6px; /* Adjust the underline's position below the text */
  height: 3px; /* Thickness of the underline */
  background-color: #ffffff; /* Underline color */
}

.whoweare-h2::before {
  left: 15%;
  width: 75%;
}

.whoweare-h2::after {
  right: 15%;
  width: 40%;
}
@media (max-width: 768px) {
  .quote-left {
    left: -20px;
    font-size: 3rem;
  }
  .whoweare-p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
  }

  .quote-right {
    right: -20px;
    font-size: 3rem;
  }

  .who-we-are h2 {
    font-size: 24px;
  }

  .description {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .who-we-are {
    padding: 30px 10px; /* Smaller padding for mobile */
  }

  .whoweare-h2 {
    font-size: 1.5rem; /* Smaller heading */
  }

  .description {
    color: #fff;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }

  .quote-left {
    font-size: 2rem; /* Smaller quotes for mobile */
    left: -5px; /* Adjust position */
  }

  .quote-right {
    font-size: 2rem; /* Smaller quotes for mobile */
    right: -5px; /* Adjust position */
  }
}
/* Responsive adjustments */

@media (max-width: 320px) {
  .description {
    font-size: 0.7rem;
  }
}
