.property-post-filters-box {
  /* background-color: #007bff */
  /* ; */
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: red; */
  width: 100%;
  /* gap: 8px; */
}

.property-post-filters-main-box {
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-leanding {
  height: 25px;
  width: 25px;
  filter: brightness(1) saturate(30%);
}
.property-filters h3 {
  margin: 10px 0;
  font-size: 14px;
}
.card-mianbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.property-filters label {
  display: block;
}
.filter-group label {
  font-size: 12px;

  
}

.property-container {
  display: flex;
  max-width: 90%;
  margin: 0 5%;
  padding: 20px;
}

.Postedby input {
  margin: 0 10px 0 0;
}
.property-filters {
  /* height: fit-content; */
  /* width: 245px; */
 
  border-right: 1px solid rgb(216, 208, 208);

  /* padding: 20px 10px; */
}

.filter-title {
  /* font-size: 18px; */

}

.filter-group {
  padding: 10px;
  /* margin-bottom: 12px; */
  position: relative;
  /* margin-bottom: 20px; */
}

.budget-slider {
  width: 100%;
}

.bhk-option.selected {
  background-color: #8585a7;
  color: #fff;
}

.selected {
  background-color: var(--main-light-clr);
  margin: 2px;
  /* color: #333; */
  padding: 3px 7px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 5px;
  border:none;
  color: #fff;
}

.property-listings {
  flex: 1;
  margin-left: 20px;
}

.listing-title {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.property-post-card {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.property-post-card-main {
  /* margin: 10px 10px 0 0; */
  /* width: 438; */
  height: 238px;
  padding: 10px;
  /* width: fit-content; */
  /* border: 1px solid var(--Color-Primary-Background, #cde0ff); */
  background: #fff;
  box-shadow: 0px 0px 12px 0px #cbe1f1;
}

.rent-amount-section {
  font-size: 14px;
}

.property-card-image {
  width: 160px;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
  object-fit: cover;
}

.property-card-info {
  margin-left: 10px;
  flex: 1;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  justify-content: space-between;
}
#per-sqft-data {
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* .property-status-floor{
  margin-left: 47px;
} */
.property-title {
  font-size: 20px;
  color: #333;
}

.question-box {
  color: var(--main-light-clr);

  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.answer-box {
  color: #585858;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.property-address {
  color: #333;
  width: 270px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

/* .property-Area {
  padding: 10px 0 0 0;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content:start;
 
} */

.property-Area img {
  margin-right: 5px;
}

.property-details {
  color: #333;
}

.pricevalue {
  color: #3f3f77;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.property-status {
  display: flex;
  flex-direction: column;
  font-weight: 600;

  font-size: 12px;
  color: #333;
  display: flex;
}

.box-size-fix {
  width: 180px;
}
.List-card-box-section {
  display: flex;
  padding: 10px 0;
  justify-content: space-between; /* Even space between items */
  /* gap: 20px;
  width: 250px; */
}

.details-about-property {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.List-card-box {
  display: flex;
}

.property-status {
  margin-left: 20px;
}

.area-card-box {
  margin-left: 20px;
}

/* .Price-section-card {
  height: 38px;
} */
.price-rp-que {
  color: #585858;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.price-pr-anwser {
  display: flex;
  gap: 5px;
  color: var(--main-light-clr);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 18px;
}

.property-Area span {
  color: #686868;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.heading-name {
  display: flex;
  justify-content: space-between;
  color: #585858;
  font-family: "Inter", Sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.fav-icon {
  background-color: #fff;
  border: none;
}

.add-favourite-btn {
  background-color: #fff;
  border: none;
}

.property-status img {
  margin-right: 5px;
}

.property-specs img {
  margin-right: 5px;
}

.property-specs {
  width: 100%;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.property-specs p {
  color: #333;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
}

.contact-button {
  width: 110px;
  padding: 10px;
  background-color: var(--main-light-clr);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.contact-button:hover {
  opacity: 0.9;
  color: #fff;
}
.price-details {
  font-weight: 600;
  color: #4c4c90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

/* .price-details span {
  font-size: 12px;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.8);
} */
/* .price-details span:hover {
  font-size: 12px;
  font-weight: 600;
  color: rgb(104, 104, 104);
} */

.button-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bhk-option-1 {
  background-color: #fff;
  margin: 2px;
  color: #333;
  padding: 3px 7px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #1877f2;
}
.bhk-option-1:hover{
  background-color: #1877f2;
  color: #fff;
}

.header-img-section{ display: flex;
  /* width: 86%; */
  align-items: center;
  justify-content: center;}
.header-img-section-img{
  /* margin-top: 10px; */
  width: 100%;
  border-radius: 8px;
  /* width: 1055px; */
  /* height: 75px; */
}


.filter-home-card{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: start;
  /* background: #000; */
}

.Property-Status {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.filter-box-main label {
  cursor: default;
  padding: 10px;
  font-size: 12px;
}

.filter-box-main input[type="checkbox"] {
  background-color: #007bff !important;
  cursor: pointer;

  font-size: large;
}

.filter-box-main {
  display: flex;
  height: 35px;
  width: 230px;
  align-items: center;
}

.Con-status {
  display: flex;
}
.Con-status label {
  display: flex;
  padding: 10px;
}

.Postedby label {
  align-items: center;
  padding: 10px 0;
}

.imageSlide {
  display: flex;
}
.property-filter{
  display: flex ;
  height: 70px;
  outline: 1px solid red;
  position: sticky;
  top: 78px;
}
/* .Second-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .filter-bhk , .status-property , .filter-furnishing{
  position: absolute;
  top: 0;
  left: 25px; 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;


} */

.bhk-dropdown,
.status-property,
.filter-furnishing {
  display: none;
  position: absolute;
  top: 90%;
  left: -50px;
  z-index: 9999;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
}

.bhk-container,
.furninshing-filter,
.property-status-filter {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.bhk-container:hover .bhk-dropdown,
.property-status-filter:hover .status-property,
.furninshing-filter:hover .filter-furnishing {
  display: grid;
}

.bhk-label {
  cursor: pointer;
}


.IconBox {
  /* background-color: red; */
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  padding: 13px 13px 0px 5px;
  justify-content: space-between;
  padding-left: 13px;
  z-index: 1;
}
.verified-badge {
  /* position: absolute;
  top: 15px;
  left: 15px; */
  background-color: #fff;
  color: #333;
  padding: 2px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.tick {
  font-size: 302px;
}
.test {
  display: flex;
  flex-direction: row;

  justify-content: end;
}
.Date-of-post {
  color: #939393;
  font-family: "Inter", Sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}
.img-date {
  display: flex;
  flex-direction: column;
}

.price-section {
  color: var(--main-light-clr);
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#postdate {
  color: var(--main-light-clr);
  font-family: "Inter", Sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.verified-badge img {
  width: 10px;
  margin-right: 5px;
}

.Reserveprice-section {
  width: 50px;
  display: flex;
}

.price-section {
  display: flex;
  justify-content: space-between;
}

.price-section span {
  font-size: 10px;
}

/* .profile-name-ans{
  padding: 5px 10px;
  border: 1px solid #BEBEBE;
}*/

.rent-deposite-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
 
}

.Reserveprice-sec-grid{
  margin-left: 20px;
}
.looking-for-data{

  color: #333;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 5px 0;
}

.price-ans {
  color: var(--main-light-clr);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.price-ans span {
  margin-left: 3px;
  color: #686868;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.rent-sele-filter {
  margin-left: 50px;
}
.property-filter-parent-mob{
  display: none;
  font-family: sans-serif;
  padding: 20px;
  width: 100%;
  z-index: 11;
  /* margin: auto; */
  background-color: #ededed;
  border-radius: 10px;
  position: sticky;
  top: 65px;
}
.property-select-div{
  /* padding: 0px 5px;
  align-self: flex-start; */
}

.property-filter-main-dev{
 background-color: #ffffff;
  z-index: 12;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  position: sticky;
  top:62px;
  width: 86%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.property-filter-parent {
  margin-top: 10px; 
 
  font-family: sans-serif;
  padding: 20px;
  width: 100%;
  z-index: 11;
  /* margin: auto; */
  background-color: #bdcff4;
  border-radius: 10px;
  position: sticky;
  top:62px;
}

.property-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.property-filter-toggle {
  align-self: flex-start;
  display: flex;
  gap: 10px;
}

.property-filter-toggle-btn {
  padding: 10px 20px;
  border: 1px solid #e3e3e3;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px
}

.property-filter-toggle-btn.active {
  background-color: #0046be;
  color: white;
}

.property-filter-actions {
  display: flex;
  gap: 10px;
}

.property-filter-actions button {
  padding: 8px 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.property-filter-search-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.property-filter-search-input {
  flex: 2;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.property-filter-type {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
.property-filter-budget {
  padding: 2px 10px;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 360px;
  align-self: flex-start;
  /* height: 50px; */
  /* display: flex; */
}
.property-filter-type-mob{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
.property-filter-search-btn {
  padding: 10px 16px;
  background-color: #0046be;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.property-filter-options {
  display: flex
  ;
      /* flex-wrap: wrap; */
      /* background: #5d5c5c; */
      justify-content: space-between;
      width: 55%;
      gap: 10px;
      /* margin-bottom: 16px; */
}
.property-select-div{
  width: 97px;
  border-radius:8px;
  padding: 5px 10px;
  background: rgb(255, 255, 255);
  display: flex;
  border:1px solid #e3e3e3;
/* height: ; */
}
.property-select-div-type{
  width: 138px;
  border-radius:8px;
  padding: 5px 10px;
  background: rgb(255, 255, 255);
  align-self:flex-start;


/* height: ; */
}
.property-filter-select-type{
  width: 100%;
  border: none;
  /* padding-right: 10px;
   */
   padding: 6px 2px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  justify-self: flex-start;
}
.property-filter-select{
  /* padding: 8px 14px; */
  
  width: 100%;
  border: none;
  /* padding-right: 10px;
   */
   
   padding: 6px 2px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.property-filter-select-o{
  /* padding: 8px 14px; */
  border: none;
  
   padding: 6px 2px;
}
.property-filter-chip {
  width: 100px;
  border: 1px solid #e3e3e3;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}
.porpety-filter-active-filter-parent{
  display: flex ;
  justify-content: space-between;
}
.property-filter-chip:hover {
  background-color: #f0f0f0;
}

.property-filter-active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 10px;
}
.clear-btn-and-length{
  display: flex;
  align-items: center;
  gap: 15px;

}
.property-filter-active-title {
  font-weight: bold;
  margin-right: 8px;
}

.property-filter-tag {
  background-color: #ffffff83;
  border-radius: 20px;
  padding: 6px 12px;
  display: flex
;
  color: #333;
  align-items: center;
  font-size: 13px;
  gap: 6px;
  
}

.property-filter-tag button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.allpied-filter{
  padding-right: 5px;
  color: blue;
}
.property-filter-clear-btn {
  background: none;
  border: none;
  color: #0046be;
  cursor: pointer;
  font-weight: bold;
}

.property-filter-count {
  margin-left: auto;
  font-weight: bold;
  color: #333;
}
.slider-container {
  max-width: 400px;
  /* margin: 50px auto; */
  text-align: center;
}

.value {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

input[type=range] {
  width: 100%;
}

/* .slider-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
} */

.slider-label {
  /* display: block; */
  font-size: 10px;
  /* margin-bottom: 10px; */
  color: #333;
}

.slider-input {
  width: 100%;

}

.slider-value {
  font-size: 13px;
  white-space: nowrap;
  font-weight: bold;
  color: #3092fb;
  /* margin-top: 15px; */
}

.budget-filter-parent{
  display: flex;

width: 100%;
justify-content: center;
align-items: center;
}






@media (min-width: 1px) and (max-width: 480px) {
  .property-filters {
    display: none;
  }
  .property-filter-tag {
    background-color: #bdcff4;;
  border-radius: 20px;
  padding: 6px 12px;
  display: flex
;
  color: #353535;
  align-items: center;
  font-size: 13px;
  gap: 6px;

}
.property-post-filters-box{
  gap: 0px;
}
.custon-accordian-item{
  margin: 0px;
  padding: 2px 1px ;
  /* border-radius: 0px !important; */
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
  .property-filter-header{
    /* background: red; */
    display: flex;
    /* justify-content: baseline; */
    flex-direction: column;
    align-items: baseline;

  }
  .property-filter-parent-mob{
    display: block !important;
    font-family: sans-serif;
    padding: 0.5px 0.5px !important;
    width: 100%;
    z-index: 11;
    /* margin: auto; */
  background-color: #fefefe;
    
    /* height: 42px ; */
    margin: auto 0;
    border-radius: 0px !important;
    position: sticky;
    top: 54.2px !important;
  }

  .property-filter-parent{
    display: none;
  }
  .property-filter-search-row{
    display: flex;
    /* background: red; */
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;

  }
  .property-filter-toggle{
    align-self: flex-start;
    margin-bottom: 10px;
  }
  /* .property-filter-options{
    display: flex;
  } */
  .property-card-info {
    margin-left: 0px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .property-filter-options {
    display: flex;
    flex-wrap: wrap;
    /* background: #5d5c5c; */
    width: 100%;
    gap: 10px;
    /* margin-bottom: 16px; */
  }
    .property-filter-type {
      padding: 12px;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      max-width: 50%;
    }
  

.property-filter-toggle-mob{
display: flex;
gap: 10px;

}
  .property-post-card-main {
    margin: 10px;
    width: auto;
    height: auto;
    /* padding: 15px; */
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .imageSlide img {
    /* width: auto; */
    /* height: auto; */
    min-width: 100%;
    max-width: 100%;
    transition: all 1s ease-in-out;
  }
  .property-post-card {
    display: grid;
    /* justify-content: space-between;
    position: relative; */
  }
  .property-filter-main-dev{
    margin-bottom: 0px;
  }
}