.notify-me-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0px auto;
  padding: 5px 20px 20px 20px;
  /* height: 500px; */
  max-width: 600px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.notifyh3 {
  font-size: 20px;
  color: #333;
margin: 5px 0px;
}



.notify-me-image {
  max-width: 200px;
  height: fit-content;
  margin: 10px auto; 
}

.notify-me-button {
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-light-clr);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notify-me-button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {

 
  .notify-me-container {
    max-width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .notify-me-container h1 {
    font-size: 18px;
  }

  .notify-me-container p {
    font-size: 12px;
  }

  .notify-me-button {
    width: 100%;
    padding: 14px 0;
    font-size: 14px;
  }
}
